# MTN Mobile Money configuration
MTN_CLIENT_ID=l6zlXXXXXXXXXXXXXXXXXXXXXXXXtGyd
MTN_CLIENT_SECRET=UrFMXXXXXXXXn89v
MTN_SUBSCRIPTION_KEY=YOUR_SANDBOX_SUBSCRIPTION_KEY
# Set to true to include subscription key in MTN requests.
# Set to false to explicitly skip it.
# When undefined, the code will use the default flow.
MTN_USE_SUBSCRIPTION_KEY=true
# When working in sandbox without a subscription key, enable simulation to
# allow local development to continue. Set to 'false' to disable simulation.
MTN_ALLOW_SANDBOX_SIMULATION=true
MTN_ENVIRONMENT=sandbox
MTN_API_MODE=payments
MTN_CALLBACK_URL=https://concentrate-seminar-include-seeds.trycloudflare.com/api/momo/callback
