

@import "tailwindcss";


body,
html,
#root {
  width: 100%;
  height: 100%;
}

.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  backdrop-filter: blur(40px);
}

.form-box {
  position: relative;
  width: 450px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.form-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input,
.input-box select {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.btn {
  width: 100%;
  height: 45px;
  border: none;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}